<%= form_for event, id: 'add-event-form' do |f| %>
    <div class="form-group">
      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :tipo %>
      <%= f.text_field :tipo %>
    </div>

    <div class="form-group">
      <%= f.label :data_inicio %>
      <% #f.datetime_select :data_inicio %>
    </div>

    <div class="form-group">
      <%= f.label :data_fim %>
      <% #f.datetime_select :data_fim %>
    </div>
<% end %>
