<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="field">
    <%= f.label :data_inicio %>
    <%= f.datetime_select :data_inicio %>
  </div>

  <div class="field">
    <%= f.label :data_fim %>
    <%= f.datetime_select :data_fim %>
  </div>

  <div class="field">
    <%= f.label :app_user_id %>
    <%= f.text_field :app_user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
