<div id="map-hint"><i class="fa fa-lightbulb-o"></i> <%= t('map_hint') %></div>

<div id="map"></div>

<%= hidden_field_tag 'selected_latitude', nil, id: 'selected-latitude-input' %>
<%= hidden_field_tag 'selected_longitude', nil, id: 'selected-longitude-input' %>

<script type="text/html" id="add-event-info-window-template">
  <a href="" id="add-new-event-link" class="btn btn-link"><i class="fa fa-plus"></i> <%= t('new_event') %></a>
</script>

<div class="modal" id="add-event-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('new_event') %></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= render 'form', event: @event %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success"><i class="fa fa-check"></i> <%= t('save') %></button>
      </div>
    </div>
  </div>
</div>