<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @event.nome %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @event.tipo %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @event.data_inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @event.data_fim %>
</p>

<p>
  <strong>App user:</strong>
  <%= @event.app_user %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
