<p id="notice"><%= notice %></p>

<p>
  <strong>App user:</strong>
  <%= @rating.app_user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @rating.event %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @rating.comentario %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @rating.nota %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
